body {
	background-color: #c4a35a;
	font-family: Roboto, serif;
	
}
h1, h2 {
	color: #26495c
}	
h1{
	font-size: 40px;
}
h2{
	font-size: 25px;
}
a{
	text-decoration: none;
}
a:hover{
	color: #c66b3d;
}

/* Custom designe with class*/

.container {
	width: 700px;
    margin: 40px auto;
}

@media (max-width: 300px) {
	.container {
		width: 300px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

.card-white {
	background-color: white;
    padding: 50px;
    margin: 50px;
    box-shadow: 0px;
    border-radius: 5px;
    border-radius: 4px;
    text-align: center;
}

.img-circle {
	border-radius: 5px	;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 0px;
}